.navbar {
    background-color: #333333;
    border-radius: 0;
}

a {
    color: #FFF;
}

/* .navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar .btn {
    height: 55px;
    border-radius: 0 !important;
}

.content {
    color: white;
    height: calc(100vh - 55px);
}

.tab {
    float: left;
    height: 100%;
}

.branch {
    background-color: #252527;
    min-width: 20%;
}

.flow {
    background-color: #1E1E1E;
    min-width: 40%;
}

.commit {
    background-color: #252527;
    min-width: 40%;
} */